body {
  background: rgba(0, 0, 255, 0.2);
}

.mood {
  margin: 45px;
}

.moviesList {
  margin: 45px;
}

.movie-container {
  margin-bottom: 30px;
}

.movie-title {
  font-weight: bold;
}

.movie-poster {
  width: 100px;
/*  float: left;*/
}

.movie-poster:hover {

}

.save-button {
  float: right;
}

.movie-data {
  /*  float: right;*/
}

ul {
  list-style-type: none;
} 

h1.title {
  margin-left: 45px;
}

.navbar-brand {

}

.navbar-fixed-top {

}

.container {

}

.container-fluid {

}
