<nav class="navbar navbar-default">
  <h1 class='title'>Morning After the Roxbury</h1>
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='active'><a href="#/movies">Movie Ideas<span class="sr-only">(current)</span></a></li>
        <li><a href="#/saved">Saved</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id='container'>
  <div class='movieView'>
  </div>
  <div class='moviesList'>
    <div class='movie-container' ng-repeat='movie in data.movies' ng-model='movie'> 
      <div>
        <img class='movie-poster' src='{{movie.poster}}' />
      </div>
      <div class='movie-data'>
        <span class='movie-title'> {{ movie.title }} </span>
        <span> {{ movie.year }} </span>
        <span> {{ movie.description }} </span>
      </div>
      <div class='save-button'>
        <button ng-click='saveMovie(movie)'>Save</button>
      </div>
    </div>
  </div>
</div>